<h2>By Country Name</h2>
<hr>
<div class="row">
  <div class="col ">
    <shared-search-box  placeholder="Search Capital"
    (value)="searchByName($event)"
    (onDeBounce)="searchByName($event)"
    [initialValue]="initialValue">
    </shared-search-box>
  </div>
</div>
<hr>
<div class="row">
  <div class="col">
    <ng-template #loading>
      <shared-loading-spinner> </shared-loading-spinner>
    </ng-template>

    <countries-table
      [countries]="countries"
      *ngIf="isLoaded; else loading"
    ></countries-table>
  </div>

</div>
